{% if hostvars[inventory_hostname]['role_bi_hostname.etc_hosts_entries'] is defined %}
{% for key, value in hostvars[inventory_hostname]['role_bi_hostname.etc_hosts_entries'].items() %}
{{ key }} {{ value }}
{% endfor %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] not in hostvars[inventory_hostname]['role_bi_hostname.etc_hosts_entries'] %}
{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} {{ inventory_hostname }}.{{ hostvars[inventory_hostname]['role_bi_hostname.default_domain'] }} {{ inventory_hostname }} 
{% endif %}
{% else %}
{% for key, value in hostvars[inventory_hostname]['role_bi_hostname.etc_hosts_entries_default'].items() %}
{{ key }} {{ value }}
{% endfor %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] not in hostvars[inventory_hostname]['role_bi_hostname.etc_hosts_entries_default'] %}
{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} {{ inventory_hostname }}.{{ hostvars[inventory_hostname]['role_bi_hostname.default_domain'] }} {{ inventory_hostname }} 
{% endif %}
{% endif %}

