{% for key, value in role_bi_hostname_etc_hosts_entries.items() %}
{{ key }} {{ value }}
{% endfor %}
{% if ansible_default_ipv4['address'] not in role_bi_hostname_etc_hosts_entries %}
{{ ansible_default_ipv4['address'] }} {{ inventory_hostname }}.{{ role_bi_hostname_default_domain }} {{ inventory_hostname }} 
{% endif %}
